<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="lib/pouchdb/dist/pouchdb.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/birthday.service.js"></script>
    <script src="js/overview.controller.js"></script>
    <script src="js/sampleObjects.js"></script>

  </head>
<body ng-app="starter">

  <ion-pane ng-controller="OverviewController as vm">
    <ion-header-bar class="bar-stable">
      <h1 class="title">PouchDB Tests</h1>
      <div class="buttons">
        <!-- <button ng-click="vm.showAddBirthdayModal()" class="button button-icon icon ion-android-person-add"></button>
        <button ng-click="saveMultipleBirthdays()" class="button button-icon icon">Add 100</button>
        <button ng-click="vm.getAllBirthdays()" class="button button-icon icon">Read All</button> -->
      </div>

    </ion-header-bar>
    <ion-content>
      <div class="list">
        <a class="item item-icon-left" ng-click="emptyDB()">
          <i class="icon ion-trash-b"></i>
          Clear the DB
        </a>

        <a class="item item-icon-left" ng-click="saveMultipleBirthdays(1)">
          <i class="icon ion-plus-circled"></i>
          Insert 1 entry
          <span class="item-note">
            1
          </span>
        </a>

        <a class="item item-icon-left" ng-click="saveMultipleBirthdays(100)">
          <i class="icon ion-plus-circled"></i>
          Insert 100 entries
          <span class="item-note">
            100
          </span>
        </a>

        <a class="item item-icon-left" ng-click="saveMultipleBirthdays(1000)">
          <i class="icon ion-plus-circled"></i>
          Insert 1000 entries
          <span class="item-note">
            1000
          </span>
        </a>

        <a class="item item-icon-left" ng-click="vm.getAllBirthdays('favorite')">
          <i class="icon ion-ios-book"></i>
          Read favorites
        </a>

        <a class="item item-icon-left" ng-click="vm.getAllBirthdays('event')">
          <i class="icon ion-ios-book"></i>
          Read events
        </a>

        <!-- <a class="item item-icon-left" ng-click="">
          <i class="icon ion-trash-b"></i>
          Empty the DB
        </a> -->

      </div>
      <ion-list>
        <ion-item ng-repeat="b in vm.birthdays" ng-if="$index < 10" ng-click="vm.showEditBirthdayModal(b)">
          <div style="float: left">{{$index + 1}}. {{ b.name }}</div>
          <div style="float: right">{{ b.Date | date:"dd MMMM yyyy" }}</div>
        </ion-item>
      </ion-list>
    </ion-content>
    <div class="bar bar-footer bar-balanced">
      <div class="title" ng-show="!vm.loading && vm.duration"><i class="icon ion-clock"></i> Duration: {{vm.quantity}} items in {{vm.duration}} ms</div>
      <div class="title" ng-show="vm.loading"><i class="icon ion-clock"></i> Loading... </div>
    </div>
  </ion-pane>

  <script id="add-or-edit-birthday.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar>
        <h1 class="title">{{ action }} Item</h1>
        <div class="buttons">
        <button ng-hide="isAdd" ng-click="deleteBirthday()" class="button button-icon icon ion-trash-a"></button>
        </div>
      </ion-header-bar>
      <ion-content>
        <div class="list list-inset">
          <label class="item item-input">
          <input type="text" placeholder="name" ng-model="birthday.name">
          </label>
          <label class="item item-input">
          <input type="text" placeholder="type" ng-model="birthday.type">
          </label>
        </div>
        <div class="padding">
          <button ng-click="saveBirthday()" class="button button-block button-positive activated">Save</button>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>
</body>
</html>
